<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>All Blog Post</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BlogMe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Recent Posts</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Who We Are</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </li>  
        </ul>        
            
        <div class="btn-group">
            <a class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" href="#">
              My Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="#">Edit Profile</a></li>
              <li><a class="nav-link" href="#">My Posts</a></li>
              <li><a class="nav-link" href="#">Log out</a></li>              
            </ul>
          </div>
        
      </div>
    </nav>

    <main role="main" class="mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3 posts">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                    <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                </div>
                <h5 ><a href="" class="text-dark">Begining of my success story</a></h5>
                <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                <div class="row">
                  <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                  <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 posts">
            <div class="card">
              <div class="card-body">
                  <div class="text-center">
                      <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                    </div>
                    <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                    <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                    <div class="row">
                      <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                      <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                    </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 posts">
            <div class="card">
              <div class="card-body">
                  <div class="text-center">
                      <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                    </div>
                    <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                    <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                    <div class="row">
                      <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                      <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                    </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 posts">
            <div class="card">
              <div class="card-body">
                  <div class="text-center">
                      <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                    </div>
                    <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                    <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                    <div class="row">
                      <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                      <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                    </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-3 posts">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                   <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                  </div>
                  <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                  <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                  <div class="row">
                    <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                    <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 posts">
              <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                      </div>
                      <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                      <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                      <div class="row">
                        <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                        <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 posts">
              <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                      </div>
                      <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                      <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                      <div class="row">
                        <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                        <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 posts">
              <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a href=""><img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail"></a>
                      </div>
                      <h5><a href="" class="text-dark">Begining of my success story</a></h5>
                      <p><a href="" class="text-muted">Bank claimed to be making the world's first decentralized banking platform. The Feds thought otherwise.<br>Read More>> </a></p>
                      <div class="row">
                        <div class="col-md-6"><span class="text-muted">Sansaristic</span></div>
                        <div class="col-md-6"><span class="text-muted">10 June 2017</span></div>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
      </div>
    </main>

    <footer class="container">
        <hr>
      <p>&copy; BlogMe 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>