<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog Post</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BlogMe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Recent Posts</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Who We Are</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </li>  
        </ul>        
            
        <div class="btn-group">
            <a class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" href="#">
              My Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="#">Edit Profile</a></li>
              <li><a class="nav-link" href="#">My Posts</a></li>
              <li><a class="nav-link" href="#">Log out</a></li>              
            </ul>
          </div>
        
      </div>
    </nav>

    <main role="main" class="mt-3">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-7 col-lg-7 col-sm-6">
            <div class="card">
              <div class="card-body">
                <h6><span class="text-muted">Technology</span></h6>
                <div class="card-title"><h3>Begining of my Success Story</h3></div>
                <div class="row">
                  <div class="col-md-12">
                    <span class="blockquote-footer">Published: <cite title="Source Title">10 June 2017.</cite></span>
                    <span class="blockquote-footer">By: <cite title="Source Title">Sansaristic</cite></span>
                  </div>
                </div><hr>
                <div class="text-center blog-post mt-2">
                  <img src="img/blog.jpg" alt="" srcset="" class="img-thumbnail">
                </div><hr>
                <div class="">
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. 
                  </p>
                </div><hr>

                <!-- Review area -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <h6>Reviews</h6>
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <div class="row">
                                      <small class="text-muted col-md-6 col-lg-3 col-sm-12"><i class="fa fa-meh-o"></i> Sansaristic</small>
                                      <small class="text-muted col-md-6 col-lg-3 col-sm-12"><i class="fa fa-calendar-o"></i>  3 days ago</small>
                                  </div>
                                  <span>You are a real fool, how can you buy Giroud in place of Bashuayi</span>
                                </li>
                                <li class="list-group-item mt-1">
                                    <div class="row">
                                        <small class="text-muted col-md-6 col-lg-3 col-sm-12"><i class="fa fa-meh-o"></i> Sansaristic</small>
                                        <small class="text-muted col-md-6 col-lg-3 col-sm-12"><i class="fa fa-calendar-o"></i>  3 days ago</small>
                                    </div>
                                    <span class="">You are a real fool, how can you buy Giroud in place of Bashuayi</span>
                                  </li>
                             </ul>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-12 col-md-5 col-lg-4 col-sm-5 trends">
              <div class="card">
                  <div class="card-body">                  
                    <div class="list-group">
                      <div class="card-header">Recent Posts</div>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">                                    
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                          </div>
                          <small>Sansaristic</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <small class="text-muted">sansaristic</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <small class="text-muted">sansaristic</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <small class="text-muted">sansaristic</small>
                        </a>
                    </div>
                  </div>
                </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        
        <!-- <div class="row">
          
        </div> -->
      </div>
    </main>

    <footer class="container">
        <hr>
      <p>&copy; BlogMe 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>