<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body class="profile">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BlogMe</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Recent Posts</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Who We Are</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
          </li>  
        </ul>        
            
        <div class="btn-group">
            <a class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" href="#">
              My Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="#">My Profile</a></li>
              <li><a class="nav-link" href="#">My Posts</a></li>
              <li><a class="nav-link" href="#">Log out</a></li>              
            </ul>
          </div>
        
      </div>
    </nav>

    <main role="main" class=" mt-5">

      <div class="container">
        <div class="row">
        <!-- Image Upload form and User Post Info -->
          <div class="col-md-4 col-sm-6 avatar text-center shadow-lite">
            <h3 class="mt-1">Change Image</h3>
            <p class="center-content"><img src="img/user.jpg" class="rounded-circle" width="150" height="150"></p>
            <form class="">
              <label class="btn btn-secondary btn-sm mt-2">
                  <input type="file" name="file" class="hidden avatar-input text-center" accept="image/*">
              </label>
              <button type="submit" class="btn btn-success btn-sm">
                  Upload
              </button>
          </form>

            <div class="row info-area pt-2 mt-2 bg-light">
              <div class="col-6 col-md-6 col-sm-4 col-lg-6 text-center shadow-lite">
                <h6 class="text-muted ">Posts</h6>
                <h6><small>234</small></h6>
            </div>            
            <div class="col-6 col-md-6 col-sm-4 col-lg-6 text-center">
                <h6 class="text-muted">Reviews</h6>
                <h6><small>120</small></h6>
            </div>
            </div>

          </div>

          <!-- Personal Infomation form -->
          <div class="col-md-8 col-sm-6 personal-info">
            <div class="ml-4">
            <h3 class="ml-2">Personal Information</h3>
            <form class="form-horizontal mt-3 mr-0 ml-2" role="form">
              <div class="form-group">              
              <div class="col-lg-8">
                  <div class="row info-area pt-2 bg-light">
                      <div class="col-4 col-md-6 col-sm-4 col-lg-6 shadow-lite">
                        <h6 class="text-muted ">First Name:</h6>
                    </div>            
                    <div class="col-8 col-md-6 col-sm-8 col-lg-6 ">
                      <p>Nouwatin</p>
                    </div>
                    </div>                
              </div>
              </div>
              <div class="form-group">              
                <div class="col-lg-8">
                    <div class="row info-area bg-light">
                        <div class="col-4 col-md-6 col-sm-4 col-lg-6 shadow-lite">
                          <h6 class="text-muted">Last Name:</h6>
                      </div>            
                      <div class="col-8 col-md-6 col-sm-8 col-lg-6 ">
                        <p>Jacob</p>
                      </div>
                      </div>
                </div>
              </div>
              <div class="form-group">              
                <div class="col-lg-8">
                    <div class="row info-area bg-light">
                        <div class="col-4 col-md-6 col-sm-4 col-lg-6 shadow-lite">
                          <h6 class="text-muted ">Username:</h6>
                      </div>            
                      <div class="col-8 col-md-6 col-sm-8 col-lg-6 ">
                        <p>sansaristic </p>
                      </div>
                      </div>                 
                </div>
              </div>
              <div class="form-group">              
                <div class="col-lg-8">
                    <div class="row info-area pt-2 bg-light">
                        <div class="col-4 col-md-6 col-sm-4 col-lg-6 shadow-lite">
                          <h6 class="text-muted ">Email:</h6>
                      </div>            
                      <div class="col-8 col-md-6 col-sm-8 col-lg-6 ">
                        <p>jaysansa@gmail.com </p>
                      </div>
                    </div> 
                </div>
              </div>
              </form>
              <div class="form-group ml-2">              
                  <div class="col-lg-8">
                      <div class="row info-area pt-2 ">
                          <div class="col-6 col-md-6 col-sm-4 col-lg-6 shadow-lite text-success">
                            <p class="text-muted"><a href="" class="btn btn-outline-success">Change Password</a></p>
                        </div>            
                        <div class="col-6 col-md-6 col-sm-8 col-lg-6 text-right text-success">
                          <p><a href="" class="btn btn-outline-success">Edit Profile </a></p>
                        </div>
                      </div> 
                  </div>
                </div>
            </div>
          </div>          
        </div>

        

      </div> <!-- /container -->

    </main>
    
    <footer class="container mt-footer">
        <hr>
      <p>&copy; BlogMe 2017</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>